<?xml version="1.0" encoding="utf-8"?>
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LaunchSiteAfterPublish>False</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>https://devsps2013-addins:8004</SiteUrlToLaunchAfterPublish>
    <DesktopBuildPackageLocation>
    </DesktopBuildPackageLocation>
    <PackageAsSingleFile>true</PackageAsSingleFile>
    <DeployIisAppPath>Achiever</DeployIisAppPath>
    <PublishDatabaseSettings>
      <Objects>
        <ObjectGroup Name="AchieverConnection" Order="1" Enabled="False" xmlns="">
          <Destination Path="Data Source=srv-app-11;Initial Catalog=Achiever;User ID=AchieverService;Password=P@ssw0rd" Name="Data Source=srv-app-11;Initial Catalog=Achiever;User Id=AchieverService;Password=P@ssw0rd; MultipleActiveResultSets=true" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=srv-app-11;Initial Catalog=Achiever;User ID=AchieverService;Password=P@ssw0rd" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\AchieverConnection_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=srv-app-11;Initial Catalog=Achiever;User Id=AchieverService;Password=P@ssw0rd; MultipleActiveResultSets=true" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
    <LastUsedBuildConfiguration>Debug</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>devsps2013-addins</MSDeployServiceURL>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>False</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>False</EnableMSDeployBackup>
    <UserName>ebs\martin</UserName>
    <_SavePWD>True</_SavePWD>
  </PropertyGroup>
  <ItemGroup>
    <MsDeployDeclareParameters Include="ClientId">
      <Kind>XmlFile</Kind>
      <Scope>web.config$</Scope>
      <Match>/configuration/appSettings/add[@key='ClientId']/@value</Match>
      <Description>Value for ClientId here.</Description>
      <DefaultValue>4f23c30c-2718-42b8-85e3-e29197f482d5</DefaultValue>
      <Value>4f23c30c-2718-42b8-85e3-e29197f482d5</Value>
      <Tags>applicationSettings</Tags>
    </MsDeployDeclareParameters>
    <MsDeployDeclareParameters Include="ClientSecret">
      <Kind>XmlFile</Kind>
      <Scope>web.config$</Scope>
      <Match>/configuration/appSettings/add[@key='ClientSecret']/@value</Match>
      <Description>Value for ClientSecret here.</Description>
      <DefaultValue>B1kkI31lMGkZ9oYlrTTSh48TmMIg0XBjIP90cNlYZnE=</DefaultValue>
      <Value>B1kkI31lMGkZ9oYlrTTSh48TmMIg0XBjIP90cNlYZnE=</Value>
      <Tags>applicationSettings</Tags>
    </MsDeployDeclareParameters>
  </ItemGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)AchieverConnection-Web.config Connection String">
      <ParameterValue>Data Source=srv-app-11;Initial Catalog=Achiever;User Id=AchieverService;Password=P@ssw0rd; MultipleActiveResultSets=true</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>